streamlit
langchain
langchain-openai
langchain-community
python-dotenv
pandas
Pillow
PyPDF2
openpyxl
python-docx
tika
pydicom
opencv-python
streamlit-camera-input-live
streamlit-image-coordinates
streamlit-option-menu
streamlit-extras
plotly
matplotlib
seaborn
requests
beautifulsoup4
xlrd
openpyxl
pytesseract